.button{
    -fx-background-color:  #8D65BE;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 50;
}
.button:hover{
    -fx-background-color: #705098;
    -fx-border-color: WHITE;
    -fx-border-radius: 50;
}